.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Contenedor principal */
.main-container {
  background-color: #03912d;
  margin-top: 6rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

/* Estilos para el título */
.nivel0 {
  
  width: 100%;
  height: auto;
  padding-top: 1px;
  padding-bottom: 1px;
  font-family: "Courier New", Courier, monospace;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 51, 0, 0.5);
  text-align: center;
  margin-top: 0px;
  border: none;
  padding-left: 0px;
  padding-right: 0px;
  -moz-box-shadow: 0px 0px 30px #A3FF0F;
  -webkit-box-shadow: 0px 0px 30px #A3FF0F;
  box-shadow: 0px 0px 5px #000;
}

.nivel0X {
  max-width: 650px;
  width: 90%;
  height: auto;
  padding-top: 1px;
  padding-bottom: 1px;
  font-family: "Courier New", Courier, monospace;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 51, 0, 0.9);
  text-align: center;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  padding-left: 0px;
  padding-right: 0px;
  -moz-box-shadow: 0px 0px 30px #A3FF0F;
  -webkit-box-shadow: 0px 0px 30px #A3FF0F;
  box-shadow: 0px 0px 5px #000;
}

/* Contenedor general de opciones */
.contenedor-opciones {
  background-color: #f9f9f9;
  border: 1px solid #a39898;
  border-radius: 8px;
  padding: 7.5rem;
  width: 80%;
  max-width: 400px;
  min-height: 200px; /* Altura mínima para hacer el contenedor más largo */
  margin: 0.5rem auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Contenedor para los botones, alineados verticalmente */
.botones-container {
  display: block;
  justify-content: center;
  gap: 1rem;
  margin-top: 0.5rem;
  
}

/* Estilo de cada botón */
.opcion {
  background-color: #4CAF50;
  color: white;
  padding: 1rem;
  border-top: 1px solid #b2dfdb;
  border-bottom: 1px solid #b2dfdb;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  transition: background-color 0.3s;
  width: 152%;
  margin-left: -30%;
}

.opcion:hover {
  background-color: #388e3c;
  transform: scale(1.05); /* Aumenta el tamaño un 5% */
  background-color: #b2dfdb; /* Cambia a un color de fondo diferente */
}

.opcion:active {
  background-color: #2e7d32;
}

/* Contenedor principal del footer */
.footer {
  background-color: rgba(0, 51, 0, 0.9);
  color: white;
  padding: 2rem 0;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column; /* Organiza el contenido en una columna */
  align-items: center; /* Centra el contenido horizontalmente */
}

/* Contenedor de las secciones del footer */
.footer-content {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 1000px;
  width: 100%;
  margin-bottom: 1.5rem; /* Espacio entre el contenido y los derechos reservados */
}


/* Estilos para cada sección individual dentro del footer */
.footer-section {
  margin: 0 2rem;
  margin-left: -5%;
}

/* Título de cada sección en el footer */
.footer-section h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

/* Enlaces dentro de cada sección */
.footer-section a {
  color: #b2dfdb;
  text-decoration: none;
  display: block;
  margin: 0.2rem 0;
  transition: color 0.3s;
}

/*Color de las opciones de contacto*/
.footer-section p{
  color: #b2dfdb;
}

/* Cambia el color de los enlaces al pasar el mouse */
.footer-section a:hover {
  color: #80cbc4;
}

/* Posiciona la parte inferior del footer (derechos reservados) */
.footer-bottom {
  font-size: 0.9rem;
  color: #a7ffeb;
  text-align: center;
}